<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <title><%= test %></title>
    </head>
    <body>
        <h1><%= test %></h1>
        <p>Test View !!</p>
    </body>
</html>